<%= stylesheet_link_tag "users" %>
<div class="users">
  <div class="nav">
<% if user_signed_in? %>
  <p class="signed-in-as">Signed in as:
  <%= current_user.name %>
  </p>
  <%= link_to 'Sign out', destroy_user_session_path, data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure you want to log out?"
  }, class: "signout" %>
<% else %>
  <%= link_to 'Sign in', new_user_session_path %>
<% end %>
  </div>
  <ul class="users-list">
    <% @users.each do |user| %>
      <li class="users-list-item">
        <%= render "shared/user", user: user %>
      </li>
    <% end %>
  </ul>
</div>
