<%= stylesheet_link_tag "posts" %>
<div class="posts">
  <%= render "shared/user", user: @user %>
  <br>
  <br>
  <br>
  <% @posts.each do |post| %>
    <%= render "shared/post_preview", post: post, user: @user, trim: true %>
    <div class="comments-box">
      <% post.comments.each do |comment| %>
        <p class="comment"><%= comment.author.name %>:
          <%= comment.text %></p>
      <% end %>
    </div>
  <% end %>
  <button>
    <a href="<%= users_path %>">
      Go to all users
    </a>
  </button>
  <button>
    Pagination
  </button>
</div>
