<div class="post">
  <div class="post-box">
    <div class="post-info">
      <p>
        <%= @post.title %>
        by
        <%= @post.author.name %>
      </p>
      <p class="post-comments-and-likes">
        <%= pluralize(@post.comments.count, "comment") %>
        <%= pluralize(@post.likes.count, "like") %>
      </p>
    </div>
    <p class="post-body">
      <%= @post.text %>
    </p>
  </div>
  <div class="posts-comments-box">
    <% @post.comments.each do |comment| %>
      <p class="comment">
        <a href="<%= user_path(comment.author) %>">
          <%= comment.author.name %></a>:
        <%= comment.text %></p>
    <% end %>
  </div>
  <button>
    <a href="<%= user_posts_path(@user) %>" class="post-link">
      Go to all posts
    </a>
  </button>
</div>
