<div class="post">
  <div class="post-box">
    <div class="post-info">
      <p>
        <%= @post.title %>
        by
        <%= @post.author.name %>
      </p>
      <p class="post-comments-and-likes">
        <%= pluralize(@post.comments.count, "comment") %>
        <%= pluralize(@post.likes.count, "like") %>
      </p>
    </div>
    <p class="post-body">
      <%= @post.text %>
    </p>
  </div>
  <%= form_with model: [@post, Like.new], url: user_post_likes_path(@user, @post) do |form| %>
    <div class="actions">
      <%= form.submit "Like this post" %>
    </div>
  <% end %>
  <br>
  <div class="posts-comments-box">
    <% @post.comments.includes(:author).each do |comment| %>
      <p class="comment">
        <a href="<%= user_path(comment.author) %>">
          <%= comment.author.name %></a>:
        <%= comment.text %></p>
    <% end %>
  </div>
  <a href="<%= new_user_post_comment_path(@user, @post) %>">Add a comment</a>
  <br>
  <br>
  <button>
    <a href="<%= user_posts_path(@user) %>" class="post-link">
      Go to all posts
    </a>
  </button>
  <%= render "shared/flashes" %>
</div>
